<!doctype html>
<html lang="zh-CN">
<head>
  <!-- 必须的 meta 标签 -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

  <!-- Bootstrap 的 CSS 文件 -->
  <link rel="stylesheet" href="../blog/static/blog/css/bootstrap.min.css">
  <link rel="stylesheet" href="../blog/static/blog/css/my-class.css">
  <link rel="stylesheet" href="../blog/static/blog/css/font-awesome.min.css">
  <!-- 选项 1：jQuery 和 Bootstrap 集成包（集成了 Popper） -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"  crossorigin="anonymous"></script>
  <script src="../blog/static/blog/js/bootstrap.bundle.min.js" ></script>
  <title>Hello, world!</title>

  <style>
    .bg-cover {
      width: 1920px;
      height: 940px;
      background: url("../blog/static/img/wel2.png") no-repeat center;
      background-size: cover;
      outline: 0px solid red;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-transparent">
  <div class="container-fluid">
    <a class="my-font-h1 navbar-brand" href="#">AngYi</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="font-size:10px"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link my-font-h2" aria-current="page" href="#">首页</a>
        </li>
        <li class="nav-item">
          <a class="nav-link my-font-h2" aria-current="page" href="#">分类</a>
        </li>
        <li class="nav-item">
          <a class="nav-link my-font-h2" href="#" aria-current="page" >关于我</a>
        </li>
      </ul>
      <form class="d-flex input-group w-auto">
        <input
                type="search"
                class="form-control rounded"
                placeholder="Search"
                aria-label="Search"
                aria-describedby="search-addon"
        />
        <span class="input-group-text border-0 bg-transparent" id="search-addon">
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>
      </form>
    </div>
  </div>
</nav>
  <div class="col-xl-auto col-xxl-12 mx-md-auto mx-lg-auto bg-cover"></div>
  <div class="my-absolute-center align-content-xl-center" style="font-size:80px;color: white;padding-bottom: 130px">Ang Yi</div>
  <p class="lead">
    <a href="#" class="bg-transparent my-absolute-center my-font-h2" style="text-decoration:none;padding-top: 150px"> 进入博客  <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
  <div class="align-content-xl-center my-absolute-center" style="padding-top: 450px">
    <a href="https://github.com/Flionay" style="text-decoration:none;" > <i class="fa fa-github fa-2x" style="color:whitesmoke"></i> </a>
    <a href="https://github.com/Flionay" style="text-decoration:none;" > <i class="fa fa-weibo fa-2x" style="color:whitesmoke;padding-left: 50px;padding-right: 50px"></i>  </a>
    <a href="https://github.com/Flionay" style="text-decoration:none;" > <i class="fa fa-rss fa-2x" style="color:whitesmoke"></i> </a>
  </div>
  </p>
</body>
</html>